beautifulsoup4
bcolz
blaze
bokeh
bunch
certifi
colorama
cython
cytoolz
datashape
decorator
fiona
geopandas
h5py
ipython
jupyter
llvmlite
markdown
matplotlib
multipledispatch
networkx
nose
numpy
odo
pandas
pykalman
pyproj
pyyaml
numba
numexpr
scitkit-learn
scipy
seaborn
six
sympy
terminado
toolz
tornado
tox
vispy
yaml
zeromq